.screenshot-carousel .screen .item.active {
    opacity: 1;
    z-index: 1;
    left: 0px;
}

.screenshot-carousel {
    left: 20px;
    position: absolute;
    top: 32px;
}

.screenshot-carousel .screen .item {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 0.5s ease-in-out 0s;
    z-index: 0;
}

.media_title {
    background: url(../img/media.png) no-repeat;
    width: 136px;
    height: 39px;
    display: block;
    left: 430px;
    position: relative;
    top: -35px;
}
.gamecontent_reposition_inner .reposition {
    margin-left: 40px !important;
}

.media_menu {
    background: url(../img/black-shadow.png) no-repeat;
    width: 1013px;
    height: 105px;
    position: relative;

}

.images_link {
    background: url("../img/vis.png") no-repeat scroll 0 -38px;
    display: block;
    height: 26px;
    left: 160px;
    position: absolute;
    top: 32px;
    width: 200px;
}
.images_link.fixed {
    background-position: 0px 0px;
}
.story_link {
    background: url("../img/vis.png") no-repeat scroll -307px  -38px;
    display: block;
    height: 26px;
    left: 730px;
    position: relative;
    top: 32px;
    width: 200px;
}
.story_link.fixed {
    background-position: -307px 0;
}

.videos_link {
    background: url("../img/vis.png") no-repeat scroll -580px -38px;
    display: block;
    height: 26px;


    left: 402px;
    position: absolute;
    top: 32px;
    width: 200px;
}
.videos_link.fixed {
    background-position: -580px -0px;
}

.media_menu .image_link {
    position: absolute;
    background: url(../img/vis.png) no-repeat;
    width: 200px;
    height: 100px;
    background-position: 10px 10px;
}

.media_menu .image_link {
    position: absolute;
    background: url(../img/vis.png) no-repeat;
    width: 200px;
    height: 100px;
    background-position: 10px 10px;
}

.media_menu .image_link {
    position: absolute;
    background: url(../img/vis.png) no-repeat;
    width: 200px;
    height: 100px;
    background-position: 10px 10px;
}

.media_slide {
    position: relative;
    width: 816px;
    height: 639px;
    left: 88px;
    top: 45px;

}

.media_border {
    background: url('../img/frame.png');
    width: 816px;
    height: 539px;
    position: absolute;
    z-index: 10;
}

#screenshot-indicators {
    background: url("../img/indicator.png") no-repeat scroll 0 -71px;
    bottom: 38px;
    display: block;
    height: 60px;
    left: 150px;
    position: absolute;
    width: 474px;
}

.screenshot-carousel {
    text-align: center;
    height: 610px;
}

.screenshot-indicator {
    background: url("../img/indicator.png") no-repeat scroll -239px -9px;
    cursor: pointer;
    display: inline-block;
    height: 65px;
    width: 63px;
}

.screenshot-carousel .indicators .screenshot-indicator.active {
    background-position: -167px -9px;
}

.btn_wrapper {

    height: 84px;
    position: relative;
    text-align: center;
    top: 150px;
    width: 998px;
}

.artwork {
    background: url("../img/buttons.png") no-repeat scroll 0 0;
    cursor: pointer;
    display: inline-block;
    height: 122px;
    width: 216px;
    margin-right: 50px;
    margin-bottom: 22px;
}

.artwork:hover {
    background-position: 0 -121px;
}

.screenshots {
    background: url("../img/buttons.png") no-repeat scroll -290px 0;
    cursor: pointer;
    display: inline-block;
    height: 122px;
    width: 216px;
    margin-right: 50px;
    margin-bottom: 22px;
}

.screenshots:hover {
    background-position: -290px -121px;
}

.wallpaper {
    background: url("../img/buttons.png") no-repeat scroll -582px 0;
    cursor: pointer;
    display: inline-block;
    height: 122px;
    width: 216px;
    margin-right: 50px;
    margin-bottom: 22px;
}

.wallpaper:hover {
    background-position: -582px -121px;
}

.overlay-controls {
    width: 816px;
    height: 539px;
    position: absolute;
    z-index: 11;
}

.overlay-controls .prev {
    background: url("../img/screenshot-overlay.png") no-repeat scroll 0 center;
    height: 539px;
    position: absolute;
    top: 0;
    width: 140px;
    left: 42px;
    opacity: 0.35;
}

.overlay-controls .prev:hover {

    opacity: 1;

}

.overlay-controls .next {
    background: url("../img/screenshot-overlay.png") no-repeat scroll -164px center;
    height: 539px;
    position: absolute;
    right: 41px;
    top: 0;
    width: 110px;

    opacity: 0.35;
}

.overlay-controls .next:hover {

    opacity: 1;

}

.overlay-controls .zoom {

    height: 539px;
    width: 516px;
    left: 160px;
    position: absolute;
}

.overlay-controls .zoom:hover {
    background: url("../img/magnify.png") no-repeat scroll center center;
}

.overlay-controls .play{
    height: 211px;
    left: 282px;
    position: absolute;
    top: 163px;
    width: 250px;
    background: url("../img/play.png") no-repeat scroll center center;
    opacity: 0.35;
}
.overlay-controls .play:hover {
    opacity: 1;
    background: url("../img/play.png") no-repeat scroll center center;
}