body {
    width: 100%;
    background:black;
}

.gamecontent_reposition {
    position: relative;
    width: 100%;
}

.bg1 {

    position: absolute;
    width: 100%;
    height: 652px;
    background: transparent url(../img/bg/bg_top.jpg) no-repeat scroll center top;
    z-index: 1;
}

.bg2 {
    position: absolute;
    width: 100%;
    height: 1372px;
    background: transparent url(../img/bg/bg_midle.jpg) no-repeat scroll center top;
    z-index: 1;
    top:653px;
}

.bg3 {
    position: absolute;
    width: 100%;
    height: 976px;
    background: transparent url(../img/bg/bg_footer.jpg) no-repeat scroll center top;
    z-index: 1;
    top:2025px;
}


.navigation {
    position: absolute;
    width: 100%;
    height: 220px;
    z-index: 100;
    top: 619px;
    background: transparent url(../img/menu/menu.png) no-repeat scroll center top;
}
.navigation.is-fixed {
position: fixed;
top: -30px;
z-index: 1000;
}

.navigation .bar {
    width: 1030px;
    height:220px;
    margin: 0 auto;
    line-height:251px;

}

.navigation .bar a {
    color:#01b5f0;
    text-decoration: none;
    font-family: tahoma;
    font-size:23px;
    width:168px;
    display:inline-block;
    text-align:center;
}

.navigation .bar a:hover {
    color:white;
}


#flashContent {

width:100%;
    overflow: hidden;
    position: relative;
    z-index: 10;

    height: 652px;

}

#flashBox {
    left: 129px;
    position: relative;
    top: -2px;

}



.content {
    height: 168px;
    left: 50%;
    margin-left: -499px;
    position: absolute;
    top: 830px;
    width: 998px;
    z-index: 50;
}

.content h1 {
    display:none;
}

.news_title {
    background: url("../img//news/news.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 27px;
    left: 107px;
    position: absolute;
    top: 46px;
    width: 116px;
}

.news_content {
    position: relative;
    height:680px;
    width: 998px;
    margin-top:112px;

}

.ship_content {
    position: relative;
    height:403px;
    width: 998px;

}
.btns_content {

    height: 364px;
    margin-left: -30px;
    position: relative;
    width: 1061px;

}

.btns_content  a.btn_faq {
    background: url("../img/btn/faq.png") no-repeat scroll left top rgba(0, 0, 0, 0);
    display: block;
    height: 210px;
    left: 17px;
    position: absolute;
    top: 90px;
    width: 494px;
}


.btns_content  a.btn_faq:hover {
    background-position: bottom left;

}

.btns_content  a.btn_forum{
    background: url("../img/btn/forum.png") no-repeat scroll left top rgba(0, 0, 0, 0);
    display: block;
    height: 210px;
    right: 17px;
    position: absolute;
    top: 90px;
    width: 494px;
}


.btns_content  a.btn_forum:hover {
    background-position: bottom left;

}

.news_block {
    position: relative;
    height:220px;
    width: 998px;



}

.news_block .img_wrapper {
    float: left;
    height: 190px;
    left: 28px;
    position: relative;
    top: 20px;
    width: 258px

}

.news_block .img_wrapper .border {
    width:258px;
    height:190px;
    z-index: 2;
    position: absolute;
    background: url("../img/news/frame.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);

}

.news_block .img_wrapper img {
    float: left;
    left: 17px;
    position: absolute;
    top: 18px;
    z-index: 1;
}

.news_block .text_wrapper {
    color: #FFFFFF;
    float: left;
    font-family: tahoma;
    font-size: 12px;
    left: 74px;
    position: relative;
    top: 30px;
    width: 630px;
    line-height: 14px;
}

.read_more_news {
    position:absolute;
    bottom:17px;
    right:49px;
}

.read_more_news a {
    display:block;
    height:34px;
    width:280px;
    background: url("../img/news/Read-More-News-..png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);

}

.read_more_news a:hover {

    background-position: bottom left;
}

