.news_detail_left {
    display: block;
    float: left;
    font-family: arial;
    line-height: 20px;
    margin-right: 18px;
    overflow: hidden;
    width: 590px;
   margin-top:20px;
}
.news_detail_left h4 {
    font-size:24px;
    font-weight: bold;
    padding-bottom: 15px;
}
.news_detail_right {
    width: 360px;
    overflow: hidden;
    float: left;
    margin-top:20px;

}

.recene_title {
    background: url(../img/recent.png) no-repeat transparent;
    width: 415px;
    height: 56px;
    display: block;
}

.news_title {
    left:419px !important;
}
.read_more {

    width:316px;
    height:30px;
    cursor: pointer;
    background: url(../img/trans.png) repeat;
    margin-top:6px;
    display:block;
    line-height:30px;
    font-size:14px;
    text-align: center;
    display:none;
 }