.news_ajax_block  {
    width:316px;
    height:78px;
    background: url(../img/trans.png) repeat;
    margin-top:6px;
    display:block;
    position:relative;


}

.news_ajax_block img {
     border : 1px solid black;
     vertical-align: middle;
    margin:5px;
 }

.news_ajax_block a {
    color:white;
    font-family: white;
    font-size:12px;
    text-decoration: none;
    font-family: arial;
    font-weight: bold;
}
.block_news_left {

}
.block_news_right {
    display: table;
    height: 72px;
    left: 116px;
    position: absolute;
    top: 5px;
    width: 200px;

}
.block_news_right a {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}