.news_ajax_block  {
    width:316px;
    height:78px;
    background: url(../img/trans.png) repeat;
    margin-top:6px;
    display:block;


}

.news_ajax_block img {
     border : 1px solid black;
     vertical-align: middle;
    margin:5px;
 }

.news_ajax_block a {
    color:white;
    font-family: white;
    font-size:12px;
    text-decoration: none;
    font-family: arial;
    font-weight: bold;
}
