html {
    height:100%;
    min-width:1160px;
}

body {
    width: 100%;
    font-family: Verdana,sans-serif;
    background: black;
    color:white;
}
:focus {
    outline:0;
}
.gamecontent_reposition {
    margin: 0 auto;

    position: relative;
    width: 100%;
}


.bg1 {

    position: relative;
    width: 100%;
    height: 652px;
    background: transparent url(../img/bg/bg_top.jpg) no-repeat scroll center top;
    z-index:10;

}

.bg2 {
    position: absolute;
    width: 100%;
    height: 1268px;
    background: transparent url(../img/bg/bg_midle.jpg) no-repeat scroll center top;
    z-index: 1;
    top:653px;
}

.bg3 {
    position: absolute;
    width: 100%;
    height: 976px;
    background: transparent url(../img/bg/bg_footer.jpg) no-repeat scroll center top;
    z-index: 1;
    top:1921px;
}


.navigation {
    position: absolute;
    width: 100%;
    height: 145px;
    z-index: 100;
    top: 617px;
    background: transparent url(../img/menu/menu.png) no-repeat scroll center top;
    padding:0px;
    margin:0px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {

    .navigation,.bg1 ,.bg2, .bg3 {
        background-position: 49.999% top;
    }

}

.navigation a {

}

.navigation.is-fixed {
position: fixed;
top: -35px;
z-index: 1000;
}

.navigation .bar {
    width: 1030px;
    height: 145px;
    margin: 0 auto;
    line-height:251px;
    position: relative;

}

.navigation .bar a {
    display: block;

    font-family: tahoma;
    font-size: 23px;
    height: 100px;
    line-height: 100px;
    margin: 0;
    padding-left: 0;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: 32px;

}

.navigation .bar a:hover {
    background: transparent url(../img/menu/menu.png) no-repeat;
}
.navigation .bar a.home {
    width:117px;
    left:0px;

}

.navigation .bar a.home:hover {

    background-position: -445px -161px;
}

.navigation .bar a.download {
    width:141px;
    left:122px;

}

.navigation .bar a.download:hover {

    background-position:-567px -161px;
}


.navigation .bar a.forum {
    width:100px;
    left:269px;
}
.navigation .bar a.forum:hover {

    background-position:-714px -161px;
}


.navigation .bar a.login {
    width:275px;
    left:374px;
}

.navigation .bar a.login:hover {

    background-position:-819px -161px;
}


.navigation .bar a.guide {
    width:118px;
    right:257px;
}

.navigation .bar a.guide:hover {

    background-position:-1100px -161px;
}


.navigation .bar a.media {
    width:129px;
    right:122px;
}

.navigation .bar a.media:hover {

    background-position:-1224px -161px ;
}

.navigation .bar a.about {
    width:115px;
    right:3px;
}
.navigation .bar a.about:hover {

    background-position:-1358px -161px ;
}


.navigation .bar a:hover {
    color:white;
}


#flashContent {

width:100%;

    position: relative;
    z-index: 10;

    height: 652px;
    overflow: hidden;


}

#flashBox {
    left: 50%;
    position: relative;
    top: -2px;
    overflow: visible;
    width:50%;
    padding:0px;
    margin:0px;

}

#flashObj {
    margin-left:-2px;
}

#video_container {
    margin-left: -658px;
    overflow: hidden;
    width: 1315px;
}
.content {
    height: 168px;
    left: 50%;
    margin-left: -499px;
    position: absolute;
    top: 755px;
    width: 998px;
    z-index: 9;
}

.content h1 {
    display:none;
}

.news_title {
    background: url("../img//news/news.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 27px;
    left: 107px;
    position: absolute;
    top: 46px;
    width: 116px;
}

.reposition {
    padding-top:112px;


}

.news_content {
    position: relative;
    height:680px;
    width: 998px;


}

.ship_content {
    position: relative;
    height:403px;
    width: 998px;

}
.ship_content img {
    left: 656px;
    position: absolute;
    top: 78px;
}
.btns_content {

    height: 364px;
    margin-left: -30px;
    position: relative;
    width: 1061px;

}

.btns_content  a.btn_faq {
    background: url("../img/btn/hovers.png") no-repeat scroll left top rgba(0, 0, 0, 0);
    display: block;
    height: 210px;
    left: 17px;
    position: absolute;
    top: 67px;
    width: 488px;
}


.btns_content  a.btn_faq:hover {
    background-position: -782px -277px;

}

.btns_content  a.btn_forum{
    background: url("../img/btn/hovers.png") no-repeat scroll left top rgba(0, 0, 0, 0);
    display: block;
    height: 210px;
    right: 22px;
    position: absolute;
    top: 67px;
    width: 494px;
}


.btns_content  a.btn_forum:hover {
    background-position: -770px -32px;

}

.news_block {
    position: relative;
    height:220px;
    width: 998px;



}

.news_block .img_wrapper {
    float: left;
    height: 190px;
    left: 28px;
    position: relative;
    top: 20px;
    width: 258px

}

.news_block .img_wrapper .border {
    width:258px;
    height:190px;
    z-index: 2;
    position: absolute;
    background: url("../img/news/frame.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);

}

.news_block .img_wrapper img {
    float: left;
    left: 17px;
    position: absolute;
    top: 18px;
    z-index: 1;
}

.news_block .text_wrapper {
    color: #FFFFFF;
    float: left;
    font-family: tahoma;
    font-size: 12px;
    left: 74px;
    position: relative;
    top: 49px;
    width: 630px;
    line-height: 14px;
}

.read_more_news {
    position:absolute;
    bottom:17px;
    right:49px;
}

.read_more_news a {
    display:block;
    height:34px;
    width:280px;
    background: url("../img/news/Read-More-News-..png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);

}

.read_more_news a:hover {

    background-position: bottom left;
}

#task_bar {
    display: block;
    left: -4px;
    padding-bottom: 9px;
    padding-top: 5px;
    position: absolute;
    top: 0px;
    width: 100px;
    z-index:3;
}

#youtube, #youtube:hover, #facebook, #facebook:hover, #twitter, #twitter:hover {
    background: url("../img/btn/social.png") no-repeat scroll center top rgba(0, 0, 0, 0);
    width: 100px;
}
#youtube {
    background-position:-6px -144px;
    height: 79px;
    width: 93px;
}
#youtube:hover {
    background-position: -138px -144px;
}
#facebook {
    background-position: -6px -6px;
    height: 137px;
    width: 93px;
}
#facebook:hover {
    background-position:-138px -6px;
}
#twitter {
    background-position: -6px -224px;
    height: 147px;
    width: 94px;
}
#twitter:hover {
    background-position: -138px -224px;
}


.top_register,  .top_download, .card_left, .card_middle, .card_right{

    border-image-width: 31px 31px 31px 31px;
    height: 232px;

    position: absolute;
    width: 472px;

     /*IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
     /*IE 5-7 */
    filter: alpha(opacity=0);
     /*Netscape */
    -moz-opacity: 0;
     /*Safari 1.x */
    -khtml-opacity: 0;
     /*Good browsers */
    opacity: 0;
}
.top_register {
    background: url("../img/btn/flash-hover-reg.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    left: 41px;
    top: 41px;
}

.top_download{
    background: url("../img/btn/flash-hover-down.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    top: 38px;
    left: -505px;
    top: 40px;
}

.card_left {
    background: url("../img/btn/hovers.png") repeat scroll 5px 168px rgba(0, 0, 0, 0);
    height: 166px;
    left: -363px;
    top: 488px;
    width: 252px;

}

.card_left_span, .card_middle_span, .card_right_span {
    color: #FFFFFF;
    display: block;
    font: bold 17px/22px "Palatino Linotype";
    left: -252px;
    margin-top: 130px;
    position: absolute;
    text-shadow: 0 0 4px #000000, 0 0 8px #000000;
    top: 479px;
}

.card_middle_span {
    left: -20px;
    top: 478px;
}

.card_right_span {
    left: 193px;
    top: 479px;
}

.card_middle {
    background: url("../img/btn/hovers.png") repeat scroll -253px 187px rgba(0, 0, 0, 0);
    height: 166px;
    left: -110px;
    top: 469px;
    width: 235px;

}

.card_right {
    background: url("../img/btn/hovers.png") repeat scroll -493px 168px rgba(0, 0, 0, 0);
    height: 166px;
    left: 125px;
    top: 488px;
    width: 252px;
}

.ship_content a {
    background: url("../img/btn/more.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 25px;
    position: absolute;
    right: -22px;
    top: 311px;
    width: 367px;
}
.ship_content a:hover {

    background-position:  bottom left;
}

div#footer {
    margin-top: 15px;
    position: relative;
    text-align: center;
    top: 424px;
}

div#footer p {
    color: #757575;
    font-size: 10px;
    margin-top: 5px;
}
div#footer {
    color:#DDDDDD;
    font-size: 12px;
}
div#footer a{
    color: #BDBDBD;
    font-size: 0.8em;
    text-decoration: none;
}

div#footer a:hover {
    text-decoration: underline;
}

