.card_left {
    left: -367px;
    top: 488px;

}

.card_middle {
    left: -113px;
    top: 470px;

}

.card_right {
    left: 122px;
    top: 488px;

}

.top_download {
    left:-508px;
    top:41px;
}